<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="https://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{../../static/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{../../static/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{../../static/js/sys_function.js}" charset="utf-8"></script>
</head>
<body class="layui-layout-body">

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="margin-top: 10%;">
            <div class="layui-btn-container" style="margin-left: 20%;width:60%;">
                <button type="button" class="layui-btn" style="width: 230px;height: 190px;margin-left: 50px;font-size: 30px;background-color: #009688;margin-top: 20px;" onclick="gotoinfo(1)">收入管理</button>
                <button type="button" class="layui-btn" style="width: 230px;height: 190px;margin-left: 50px;font-size: 30px;background-color: #009688;margin-top: 20px;" onclick="gotoinfo(2)">菜品管理</button>
                <button type="button" class="layui-btn" style="width: 230px;height: 190px;margin-left: 50px;font-size: 30px;background-color: #009688;margin-top: 20px;" onclick="gotoinfo(3)">员工管理</button>
                <button type="button" class="layui-btn" style="width: 230px;height: 190px;margin-left: 50px;font-size: 30px;background-color: #009688;margin-top: 20px;" onclick="gotoinfo(4)">客户管理</button>
                <button type="button" class="layui-btn" style="width: 230px;height: 190px;margin-left: 50px;font-size: 30px;background-color: #009688;margin-top: 20px;" onclick="gotoinfo(5)">采购提醒</button>
                <button type="button" class="layui-btn" style="width: 230px;height: 190px;margin-left: 50px;font-size: 30px;background-color: #009688;margin-top: 20px;" onclick="gotoinfo(6)">信息维护</button>
            </div>
        </div>
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    function gotoinfo(id) {
        // alert(id);
        if(id==1){
           // location.href='/user/boss/boss-caipinindex';
            parent.gotoTab('收入管理','/user/boss/boss-shouruindex')
        }else if(id==2){
            parent.gotoTab('菜品管理','/user/boss/boss-caipinindex')
        }else if(id==3){
            parent.gotoTab('员工管理','/user/boss/boss-yuangongindex')
        }else if(id==4){
            parent.gotoTab('客户管理','/user/boss/boss-kehuindex-mx')
        }else if(id==5){
            parent.gotoTab('预测管理','/user/boss/boss-yuceindex')
        }else if(id==6){
            parent.gotoTab('信息维护','/user/boss/boss-xinxiindex')
        }
    }

</script>
</body>
</html>