<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="https://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--    <link rel="stylesheet" th:href="@{../static/css/font.css}">-->
    <link rel="stylesheet" th:href="@{../../static/layui/css/layui.css}">
    <!--    <link rel="stylesheet" th:href="@{../static/css/xadmin.css}">-->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{../../static/layui/layui.js}" charset="utf-8"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="layui-layout-body">


<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="margin-top: 15%;">
        <div class="layui-btn-container" style="margin-left: 25%;width:70%;">
            <div type="button" class="layui-btn" style="width: 230px;height: 190px;margin-left: 50px;font-size: 30px;background-color: #009688;margin-top: 20px;padding-top: 60px;" onclick="gotoinfo(1)">后厨</div>
            <div type="button" class="layui-btn" style="width: 230px;height: 190px;margin-left: 50px;font-size: 30px;background-color: #009688;margin-top: 20px;padding-top: 60px;" onclick="gotoinfo(2)">服务员</div>
        </div>
    </div>
</div>

</div>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    function gotoinfo(id) {
        // alert(id==1);
        if(id==1){
            parent.gotoTab('后厨工作量','/user/boss/boss-yuangongindex-hc')
        }else if(id==2){
            parent.gotoTab('服务员工作量','/user/boss/boss-yuangongindex-fwy')
        }
    }
</script>
</body>
</html>