<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" th:href="@{../static/css/font.css}">
    <link rel="stylesheet" th:href="@{../static/css/xadmin.css}">
    <script th:src="@{../static/js/jquery.min.js}"></script>
    <script th:src="@{../static/js/constance.js}"></script>
    <script th:src="@{../static/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{../static/js/xm-select.js}"></script>
    <script type="text/javascript" th:src="@{../static/js/xadmin.js}"></script>

</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                <div class="contain">
                    <div id="name" style="text-align: center;font-size: 15px;font-weight: bolder;margin-bottom: 20px"></div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label"></label>
                    <button id="layui-btn" class="layui-btn" lay-submit lay-filter="add">确定</button>
                </div>
                <div style="text-align: center;color: red">
                    请填写每道菜具体用料数量，单位克
                </div>
            </form>
        </div>
    </div>
<script>
    (function(){
        var id=getQueryString("tableId")//tableId代表菜品ID
        var data = [];
        if(id != null){
            $.ajax({
                url:baseUrl.url+'food/getFoodStock/'+id,
                type:'GET',
                async:true,
                success:function(ret){
                    data = ret.data;
                    var temp = '';
                    for(var i = 0;i<data.length-1;i++){
                        temp += '<div class="layui-form-item"><label for="stock'+i+'" class="layui-form-label">'+data[i].name+'</label><div class="layui-input-inline">';
                        temp += '<input type="text" id="stock'+data[i].id+'" name="'+data[i].name+'" lay-verify="required"  autocomplete="off" class="layui-input"></div></div>';
                    }
                    $("#name").text(data[data.length-1])
                    $(".contain").append(temp);
                    loaddata(id);
                }
            })
        }

    })();

    function loaddata(id){
        $.ajax({
            url:baseUrl.url+'food/loadstock/'+id,
            type:'GET',
            async:true,
            success:function(ret){
                data = ret.data;
                for(var i = 0;i<data.length;i++){
                    id = data[i].stockid;
                    var stockid = 'stock'+id;
                    num = data[i].costnum;
                    $("#"+stockid+"").val(num);
                }
            }
        })
    }

    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(add)', function(data){
            data.field.name = $("#name").text()
            $.ajax({
                url:baseUrl.url+'food/addstocknum',
                type:'POST',
                data:data.field,
                dataType: 'text',
                success:function(ret){
                    var ret = JSON.parse(ret);
                    if(ret.success){
                        layer.msg('操作成功!', {
                            icon: 1,
                            time: 1000
                        });
                        var index = parent.layer.getFrameIndex(window.name);
                        //延时关闭当前frame
                        setTimeout(function(){parent.layer.close(index)}, 1000);
                    }else{
                        layer.msg('操作失败!请稍后再试。', {
                            icon: 2,
                            time: 1000
                        });
                        var index = parent.layer.getFrameIndex(window.name);
                        //延时关闭当前frame
                        setTimeout(function(){parent.layer.close(index)}, 1000);
                    }
                }
            })
            return false;
        });
    });



    //获得网站连接
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r !== null)
            return unescape(r[2]);
        return null;
    }

</script>
</body>

</html>