<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" th:href="@{../static/css/font.css}">
    <link rel="stylesheet" th:href="@{../static/css/xadmin.css}">
    <script th:src="@{../static/js/jquery.min.js}"></script>
    <script th:src="@{../static/js/constance.js}"></script>
    <script th:src="@{../static/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{../static/js/xadmin.js}"></script>
    </head>

    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item" style="display: none">
                        <div class="layui-input-inline">
                            <input type="text" id="id" name="id"   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" id="username" name="username" lay-verify="required"  autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="role" class="layui-form-label">角色</label>
                        <div class="layui-input-inline">
                            <select name="role" lay-verify="required" id="role" >
                                <option value=""></option>
                                <option value="1">服务员</option>
                                <option value="2">后厨</option>
                                <option value="3">老板</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">分配</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            (function(){
                var  id=getQueryString("tableId")//tableId代表菜品ID
                if(id != null){
                    $.ajax({
                        url:baseUrl.url+'user/user/'+id,
                        type:'GET',
                        async:true,
                        success:function(ret){
                            $("#id").val(ret.data.id)
                            $("#username").val(ret.data.username)
                            $("#role").val(ret.data.role)
                        }
                    })
                }
            })();
            layui.use('form', function(){
                var form = layui.form;
                //监听提交
                form.on('submit(add)', function(data){
                    $.ajax({
                        url:baseUrl.url+'user/user',
                        type:'POST',
                        data:data.field,
                        success:function(ret){
                            if(ret.success){
                                layer.msg('添加成功!', {
                                    icon: 1,
                                    time: 1000
                                });
                                var index = parent.layer.getFrameIndex(window.name);
                                //延时关闭当前frame
                                setTimeout(function(){
                                    parent.layer.close(index);
                                    window.parent.location.reload();
                                }, 1000);
                            }else{
                                layer.msg('添加失败!', {
                                    icon: 2,
                                    time: 1000
                                });
                                var index = parent.layer.getFrameIndex(window.name);
                                //延时关闭当前frame
                                setTimeout(function(){parent.layer.close(index)}, 1000);
                            }
                        }
                    })
                    return false;
                });
            });

            function getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                if (r !== null)
                    return unescape(r[2]);
                return null;
            }
        </script>
    </body>

</html>